.heading {
    display: flex;
    padding: 0.5rem;
    align-items: center;

    svg {
        width: 18px;
        height: 18px;
    }

    p {
        margin-left: 0.5rem;
    }

    button {
        margin-left: auto;
        color: darkcyan;
    }
}

.list {
    padding-left: 1rem;
    overflow-y: auto;
    max-height: 300px;
}
.hilight {
    background-color: #4caf50;
    span {
        color: white;
    }
}

.item {
    display: flex;
    justify-content: space-between;
    margin-left: 1.75rem;
    padding: 0.25rem 1rem;
    border-bottom: 1px solid #e5e7eb;
    height: 2rem;

    span {
        cursor: pointer;
    }

    button {
        svg {
            height: 20px;
            width: 20px;
        }
    }
}

.light {
    button {
        color: darkcyan;

        svg {
            fill: darkcyan;
        }
    }

    &.hilight {
        span {
            color: white;
        }
        svg {
            fill: white;
        }
    }
}

.dark {
    button {
        color: #ffc107;
        svg {
            fill: #ffc107;
        }
    }

    &.hilight {
        svg {
            fill: white;
        }
    }
}
