.container {
    padding-top: 2.5rem;
    transition: all 300ms ease-in-out;
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    transform: scaleX(0);
    transform-origin: left;

    & > * {
        width: 15rem;
    }
}

.visible {
    min-width: 15rem;
    transform: scaleX(1);
}
