@import 'styles/_mixins.scss';
@import 'styles/_color-palette.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2.5rem;
    margin-top: auto;

    border-top: 1px solid #dcdcde;

    select {
        margin-left: 0.5rem;
        appearance: none;
        text-align: center;
        font-weight: 600;
        color: inherit;
        background-color: inherit;
    }
}

.light {
    border-color: map-get(map-get($themes, 'light'), 'color-border');
    select {
        background: map-get(map-get($themes, 'light'), 'color-background');
        color: map-get(map-get($themes, 'light'), 'color-text-primary');
    }
}

.dark {
    border-color: map-get(map-get($themes, 'dark'), 'color-border');
    select {
        background: map-get(map-get($themes, 'dark'), 'color-background');
        color: map-get(map-get($themes, 'dark'), 'color-text-primary');
    }
}
