.container {
    max-height: 7.4rem;
    overflow-y: hidden;
    padding: 0.5rem 0;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #dcdcde;
    cursor: pointer;

    &:hover {
        button {
            visibility: visible;
        }
    }

    button {
        visibility: hidden;
        margin-left: 0.8rem;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    .pinned {
        visibility: visible;

        svg {
            fill: darkcyan;
        }
    }

    &:hover:not(.active) {
        background-color: #e5e7eb;
    }
}

.active {
    background-color: #00968850;
}

.card {
    margin-left: 0.5rem;
    width: 100%;

    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - 2rem);

        &:first-of-type {
            font-weight: 600;
        }
    }

    .newNote {
        color: darkcyan;
        font-weight: 500;
    }
}
