@import 'styles/_mixins.scss';
@import 'styles/_color-palette.scss';

.container {
    display: flex;
    padding: 0.5rem 0;
    cursor: pointer;
    overflow-y: hidden;
    align-items: flex-start;
    border-bottom: 1px solid #dcdcde;

    &:hover {
        button {
            visibility: visible;
        }
    }

    button {
        visibility: hidden;
        margin-left: 0.8rem;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    .pinned {
        visibility: visible;

        svg {
            fill: darkcyan;
        }
    }

    &:hover:not(.active) {
        background-color: #e5e7eb;
    }
}

.active {
    background-color: #00968850;
}

.card {
    width: 100%;
    margin-left: 0.5rem;

    p {
        overflow: hidden;
        width: calc(100% - 2rem);
        white-space: nowrap;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:first-of-type {
            font-weight: 600;
        }
    }

    .newNote {
        font-weight: 500;
    }
}

.light {
    &.active {
        background-color: #00968850;
    }

    &:hover:not(.active) {
        background-color: #e5e7eb;
    }

    & .newNote {
        color: darkcyan;
    }

    & .pinned {
        svg {
            fill: darkcyan;
        }
    }
}

.dark {
    &.active {
        background-color: #555;
    }

    &:hover:not(.active) {
        background-color: #383c44;
    }

    & .newNote {
        color: #ffc107;
    }

    & .pinned {
        svg {
            fill: #ffc107;
        }
    }
}
