$themes: (
    light: (
        color-background: #fafafa,
        color-background-active: #00968850,
        color-text-primary: #212121,
        color-text-placeholder: #353434,
        color-border: #deded3,
    ),
    dark: (
        color-background: #131516,
        color-background-active: #009688a8,
        color-text-primary: #fff,
        color-text-placeholder: #d6d6d6,
        color-border: #4d4d49,
    ),
);
