.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 2.5rem;
    border-bottom: 1px solid #dcdcde;

    h3 {
        line-height: 0;
    }

    button {
        position: relative;
        margin: 0 0.5rem;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    // button::after {
    //     content: attr(data-title);
    //     position: absolute;
    //     bottom: 0;
    //     left: 50%;
    //     opacity: 0;
    //     transform: translateX(-50%) translateY(100%);
    //     border-radius: 3px;
    //     padding: 5px 5px 7px 5px;
    //     font-size: 0.9rem;
    //     line-height: 1;
    //     color: white;
    //     background-color: rgb(106, 106, 109);
    //     white-space: nowrap;
    //     transition: opacity 0.3s ease-in-out;
    // }

    // button:hover {
    //     &::after {
    //         opacity: 1;
    //     }
    // }

    button:disabled {
        svg {
            fill: rgb(158, 158, 158);
        }
    }
}
