.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 2.5rem;
    border-bottom: 1px solid var(--borderColor);
    padding: 0 0.5rem;

    h3 {
        line-height: 0;
    }

    button {
        position: relative;
        // margin: 0 0.5rem;

        svg {
            width: 24px;
            height: 24px;
        }
    }

    button:disabled {
        svg {
            fill: rgb(158, 158, 158);
        }
    }
}
