.container {
    overflow-y: auto;
}

.item {
    max-height: 8rem;
    overflow-y: hidden;
    padding: 0.5rem 0;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #dcdcde;
    cursor: pointer;

    &:hover {
        button {
            visibility: visible;
        }
    }

    button {
        visibility: hidden;
        margin-left: 0.8rem;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    .pinned {
        visibility: visible;

        svg {
            fill: darkcyan;
        }
    }

    &:hover:not(.active) {
        background-color: #e5e7eb;
    }
}

.active {
    background-color: #00968850;
}

.card {
    margin-left: 0.5rem;

    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 15rem;

        &:first-of-type {
            font-weight: 600;
        }
    }
}