.container {
    margin: 0 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .heading {
        font-size: 2rem;
        margin-top: 20px;
        font-weight: 600;
        text-align: center;
    }
    .toggleForm {
        color: slategray;
        margin-top: 20px;
        font-size: 0.9rem;
        text-align: center;
        button {
            color: steelblue;
            font-weight: 600;
            &:hover {
                color: slateblue;
            }
        }
    }

    .rememberMe {
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        width: 300px;

        input {
            border: 2px solid #dcdcde;
            padding: 5px 10px;
            font-size: 1.2rem;
            margin: 5px;
            border-radius: 3px;
        }

        input:focus {
            border-color: steelblue;
        }

        button {
            font-size: 1.2rem;
            border-radius: 5px;
            background-color: steelblue;
            color: white;
            padding: 5px 10px;
            margin: 10px 5px;
            text-align: center;
            height: 2.4rem;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: slateblue;
            }
        }

        & > p {
            color: tomato;
            font-weight: 500;
            padding: 10px;
        }
    }
}
