.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    border-left: 1px solid var(--borderColor);
}

.minified {
    width: 0;
    min-width: 0;
    overflow-x: hidden;
    border: none;

    & > * {
        width: 100vw;
        min-width: 100vw;
    }
}
