.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    transition: all 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    border-left: 1px solid #dcdcde;

    & > * {
        width: 20rem;
    }
}

.visible {
    width: 20rem;
    transform: scaleX(1);
}
