.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    transition: all 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
    border-left: 1px solid var(--borderColor);

    & > * {
        width: 20rem;
        min-width: 20rem;
    }
}

.visible {
    min-width: 20rem;
    transform: scaleX(1);
}

.minified {
    overflow-x: hidden;
    &.visible {
        min-width: 100%;
    }

    & > * {
        width: 100vw;
        min-width: 100vw;
    }
}
